
.mb-1 a {
    text-decoration: none;
}
.footer{
    background-color: #ffc219 !important;
    position:static;
    bottom:0;
    margin-top: 100px;
}

.foot{
    background-color: #ffc219 !important;
}

.fooooter{
    background-color: #ffc219 !important;
    border: none !important;
}

