{% extends 'base.html.twig' %}

{% block title %}Nos Partenaires{% endblock %}

{% block body %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/post/list.css')}}">
{% endblock %}
        <h3 class="titre">APICULTEURS PARTENAIRES</h3>
        <div class="flex-contact">
           <div class="flex-contact-div">
                 <p>Fred Dufresnes</p>
                 <p>fred.dufresnes@gmail.com</p>
                 <p>12 Rue de La Prairie, 42000</p>
                 <p>06 73 52 53 73</p>
                 <img class="img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d2/Signe_Kristoffersson.jpg/220px-Signe_Kristoffersson.jpg">
           </div>
           <div class="flex-contact-div">
                 <p>Jean-Noël Popelin</p>
                 <p>jean-noel.popelin@hotmail.com</p>
                 <p>128 Avenue du Général De Gaulle, 72028</p>
                 <p>07 73 56 23 87</p>
                <img class="img" src="https://i0.wp.com/marche-des-createurs.fr/wp-content/uploads/2022/05/au-palais-des-abeilles-IMG_20220412_185154_446-e1651484709721.webp?resize=770%2C770&ssl=1">

           </div>
           <div class="flex-contact-div">
                 <p>Fabrice Lortie</p>
                 <p>fabrice.lortie.apicula@yahoo.fr</p>
                 <p>1 Route de Poitiers, 58000</p>
                 <p>06 87 55 90 54</p>
                <img class="img" src="https://c8.alamy.com/compfr/bkf1gt/bill-mackereth-un-apiculteur-de-cockermouth-cumbria-royaume-uni-verifie-ses-ruches-pour-signes-de-degats-d-acariens-varoa-bkf1gt.jpg">

           </div>
           <div class="flex-contact-div">
                 <p>Jean-François Brunet</p>
                 <p>anjou-miel@gmail.com</p>
                <p>132 Bis Allée Des Pois, 3217</p>
                 <p>04 78 56 34 23</p>
                <img class="img" src="https://www.biolineaires.com/wp-content/uploads/2020/11/famille-mary-miel.jpg">
           </div>
           <div class="flex-contact-div">
                 <p>Fanny Delafosse</p>
                 <p>fanny.delafosse@gmail.com</p>
                 <p>185 Route de La Division II Leclerc, 75083</p>
                 <p>06 78 12 09 32</p>
                <img class="img" src="https://ingeniumcanada.org/sites/default/files/2021-05/May%2020-Beekeeping.jpg">
           </div>
            <div class="flex-contact-div">
                 <p>Antoinette Anouilh</p>
                 <p>antoinette.anouilh@gmail.com</p>
                 <p>1 Rue des Pigeonniers, 55021</p>
                 <p>04 78 56 34 23</p>
                <img class="img" src="https://www.chateaudelagabelle.fr/wp-content/uploads/2018/01/miel-de-lavande-provence-apicultrice-vente-directe.jpg">
           </div>
           

    
        </div>
            
  
{% endblock %}


